.recipes-container {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: auto;
    display: grid;
    row-gap: .5rem;
}

@media only screen and (min-width: 1024px) {
    .recipes-container {
        padding-left: 10%;
        padding-right: 10%;
        grid-template-columns: 1fr 1fr;
        gap: .5rem .5rem;
    }
}

@media only screen and (min-width: 1440px) {
    .recipes-container {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.recipe {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

.recipe img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: .5rem;
}

.recipe h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
}

.recipe h3 {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
}

.recipe ol {
    padding-inline-start: inherit;
}

.recipe li {
    padding-left: .5rem;
}